body{
margin:0;
font-family:Arial;
background:#0b1020;
color:white;
text-align:center;
}

.menu{
padding:20px;
}

h1{
margin-bottom:30px;
}

button{
width:90%;
padding:14px;
margin:10px auto;
border:none;
border-radius:12px;
font-size:18px;
background:#3b82f6;
color:white;
font-weight:bold;
}

.topbar{
display:flex;
justify-content:space-between;
padding:10px;
background:#111827;
}

#board{
width:90%;
max-width:360px;
margin:auto;
touch-action:none;
}

.panel{
margin-top:10px;
}