body{
margin:0;
font-family:Arial;
background:#0b1020;
color:white;
text-align:center;
}

header{
padding:12px;
background:#111827;
font-size:18px;
font-weight:bold;
}

.panel{
margin:10px;
padding:10px;
background:#1f2937;
border-radius:12px;
}

button,select{
width:90%;
padding:12px;
margin:8px auto;
border-radius:10px;
border:none;
font-size:16px;
font-weight:bold;
}

button{
background:#3b82f6;
color:white;
}

#board{
width:90%;
max-width:360px;
margin:auto;
touch-action:none;
}

#info{
padding:10px;
font-size:14px;
white-space:pre-line;
}